/build/
/target/
/build/spinon/
/platforms/android/.gradle/
/platforms/android/local.properties
*.xcuserstate
xcuserdata/
node_modules/
/.rspress/
/.env
/spikes/style-layout/node_modules/
/spikes/style-layout/target/
/spikes/wgpu-backend/target/
/platforms/android/**/build/
/platforms/ios/DerivedData/
/platforms/ios/.build/
/platforms/ios/build/
**/.DS_Store
/packages/docs/build/
/spikes/css-bundler/.output/
