<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.boson.tree">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="36" />
    <application android:label="Boson Dynamic Tree" android:extractNativeLibs="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name="dev.boson.tree.TreeActivity" android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
